@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "tailwindcss-motion";
@plugin "flowbite/plugin";
@theme {
  --color-primary: #6E5BFB; 
  --color-body: #444444;
  --font-instrument_sans: "Instrument Sans", sans-serif;
  --font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

}
@layer components {
  
}
@layer base {
  body {
    @apply text-base font-normal text-body  font-instrument_sans;
  }
  .container {
    @apply pe-4 ps-4 mx-auto;
  }
}
@layer utility {
 
}