@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.playbtn::after ,.playbtn::before{
  content: "";
  position: absolute;
  background-image: conic-gradient(from var(--angle), #6E5BFB 70%, oklch(66.7% 0.295 322.15));
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  translate:  -50% -50%;
  padding: 2px;
  border-radius: calc(infinity * 1px);
  animation: 2s spin-1 linear infinite;
  z-index: -1;
}
.playbtn::before{
  filter:blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin-1 {
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}

.up {
  transform: translateY(-30px);
}

.down {
  transform: translateY(30px);
}

.scrolling:hover > div{
  animation-play-state: paused;
}
.scrolling-right{
  animation-direction:  reverse;
  animation-duration: 60s;
}
.scrolling-left{
  animation-duration: 60s;
}